@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Original+Surfer&display=swap');

html {
    background: url('../images/pexels-aistė-sveikataitė-1535421.jpg') no-repeat;
    background-size: auto;
    font-family: 'Original Surfer', cursive;
    text-align: center;
}

h1 {
    font-size: 4vw;
    font-weight: 700px;
    letter-spacing: 5px;
    margin: 2vh auto;
}

p {
    font-size: 1.5vw;
    margin: 2vh auto;
    background-color: rgba(228, 160, 57, 0.7);
    border-radius: 20px;
    width: 70vw;
}

iframe {
    max-width: 95%;
    height: 60vh;
    width: 50vw;
    margin: 5vh auto;
}

#below {
    font-size: 1.5vw; 
    font-family: sans-serif;
    background-color: rgba(228, 160, 57, 0.7);
    margin: 0 auto;
}

/* Media query for phones */

@media screen and (max-width: 812px) {
    iframe {
        height: 40vh;
        width: 60vw;
    }
}