@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Original+Surfer&display=swap');

html {
    background: url('../images/pexels-aistė-sveikataitė-1535421.jpg') no-repeat;
    background-size: auto;
    font-family: 'Original Surfer', cursive;
    text-align: center;
}

h1 {
    font-size: 6vw;
    font-weight: 700px;
    letter-spacing: 5px;
    margin: 2vh auto;
}

p {
    font-size: 2vw;
    letter-spacing: 2px;
    line-height: 3vw;
    margin: 2vh auto;
    background-color: rgba(211, 75, 30, 0.404);
    border-radius: 20px;
}

iframe {
    max-width: 95%;
    margin: 5vh auto;
}

#below {
    font-size: 1vw; 
    line-height: 2vw;
    font-family: sans-serif;
}